/*
 * For more information on how you can configure this file
 * see https://docs.magicmirror.builders/configuration/introduction.html
 * and https://docs.magicmirror.builders/modules/configuration.html
 */

let config = {
    address: "localhost",
    port: 8080,
    basePath: "/",
    ipWhitelist: ["127.0.0.1", "::ffff:127.0.0.1", "::1"],

    useHttps: false,
    httpsPrivateKey: "",
    httpsCertificate: "",

    language: "de",
    locale: "de-DE",
    logLevel: ["INFO", "LOG", "WARN", "ERROR"],
    timeFormat: 24,
    units: "metric",

    modules: [
        {
            module: "alert",
        },
        {
            module: "updatenotification",
            position: "top_bar",
        },
        {
            module: "clock",
            position: "top_left",
        },
        {
            module: "calendar",
            header: "Feiertage",
            position: "top_left",
            config: {
                maximumEntries: 3,
                calendars: [
                    {
                        fetchInterval: 7 * 24 * 60 * 60 * 1000,
                        symbol: "calendar-check",
                        url: "https://ics.calendarlabs.com/46/25eba6fe/Germany_Holidays.ics",
                    },
                ],
            },
        },
        {
            module: "calendar",
            header: "X-Hain Kalender",
            position: "middle_center",
            config: {
                fade: false,
                maximumEntries: 12,
                // fadePoint: 0.1,
                calendars: [
                    {
                        fetchInterval: 7 * 24 * 60 * 60 * 1000,
                        symbol: "calendar",
                        url: "https://files.x-hain.de/remote.php/dav/public-calendars/Yi63cicwgDnjaBHR/?export&accept=ical",
                    },
                ],
            },
        },
        {
            module: "weather",
            position: "top_right",
            config: {
                weatherProvider: "openmeteo",
                type: "current",
                lat: 52.5127567,
                lon: 13.4471839,
            },
        },
        {
            module: "weather",
            position: "top_right",
            header: "Wetter",
            config: {
                weatherProvider: "openmeteo",
                type: "forecast",
                lat: 52.5127567,
                lon: 13.4471839,
            },
        },
        {
            module: "helloworld",
            position: "bottom_bar",
            config: {
                text: "Hack Me!\nPing @SuperQ on Matrix",
            },

        },
        {
            module: "MMM-PublicTransportBerlin",
            position: "bottom_bar",
            config: {
                stationId: "900120014",
                marqueeLongDirections: false,
                travelTimeToStation: 2,
                maxReachableDepartures: 5,
                maxUnreachableDepartures: 2,
                fadeReachableDepartures: false,
            },
        },
        {
            module: "MMM-PublicTransportBerlin",
            position: "bottom_bar",
            config: {
                stationId: "900120008",
                marqueeLongDirections: false,
                ignoredLines: ["M10", "21"],
                travelTimeToStation: 7,
                maxReachableDepartures: 2,
                maxUnreachableDepartures: 1,
                fadeReachableDepartures: false,
            },
        },
    ],
};

/*************** DO NOT EDIT THE LINE BELOW ***************/
if (typeof module !== "undefined") {
    module.exports = config;
}
